@font-face {
  font-family: "Cinzel";
  src: url("../assets/fonts/Cinzel-VariableFont_wght.ttf");
}
:root {
  --mainTitle-font-size: 2rem;
  --background-color: RGB(30, 34, 39);
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: RGB(30, 34, 39);
  font-family: "Cinzel", serif;
  color: darkgray;
}

h1 {
  font-family: "Cinzel", serif;
  color: gray;
}
h2 {
  font-family: "Cinzel", serif;
  color: darkgray;
}

.menuBar {
  display: flex;
  justify-content: space-between;
  /* background-color: RGB(30, 34, 39); */
  padding: 0.5em;
  border-bottom: solid gray;
}

.titleDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.contentDiv {
  width: 97.5vw;
  margin-left: 1vw;
  margin-right: 1.5vw;
  border-top: solid gray;
}

#user {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}

#home {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}

#search {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}

#loginTitle {
  margin-top: 2em;
  margin-bottom: 2em;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  font-family: "Cinzel", serif;
  color: darkgray;
  margin: 1em;
  border-radius: 5px;
  border: solid gray;
  height: 3em;
  width: 8em;
  background-color: var(--background-color);
  transition: 0.5s;
}
.button:active {
  transform: scale(0.8);
}

.input {
  font-family: "Cinzel", serif;
  color: darkgray;
  text-align: center;
  margin: 1em;
  border-radius: 5px;
  border: solid gray;
  height: 3em;
  width: 16em;
  background-color: var(--background-color);
}
