@font-face {
  font-family: "Cinzel";
  src: url("../assets/fonts/Cinzel-VariableFont_wght.ttf");
}
:root {
  --mainTitle-font-size: 2rem;
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: RGB(30, 34, 39);
}

h1 {
  font-family: "Cinzel", serif;
  color: gray;
}
h2 {
  font-family: "Cinzel", serif;
  color: darkgray;
}

.menuBar {
  display: flex;
  justify-content: space-between;
  /* background-color: RGB(30, 34, 39); */
  padding: 0.5em;
  border-bottom: solid gray;
}

.titleDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.contentDiv {
  width: 97.5vw;
  margin-left: 1vw;
  margin-right: 1.5vw;
  border-top: solid gray;
}

#user {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}

#home {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}

#search {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}
