@font-face {
  font-family: "Cinzel";
  src: url("../assets/fonts/Cinzel-VariableFont_wght.ttf");
}
:root {
  --mainTitle-font-size: 2rem;
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: RGB(30, 34, 39);
}

h1 {
  font-family: "Cinzel", serif;
  color: gray;
}
h2 {
  font-family: "Cinzel", serif;
  color: darkgray;
}

.titleDiv {
  margin-top: 3em;
  width: 97.5vw;
  margin-left: 1vw;
  margin-right: 1.5vw;
  text-align: center;
}

.contentDiv {
  width: 97.5vw;
  margin-left: 1vw;
  margin-right: 1.5vw;
  border-top: solid gray;
}

#mainTitle {
  margin-right: auto;
}
