<?xml version='1.0' encoding='utf-8'?>
<widget id="lol.quoteley.gabriel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Quoteley</name>
    <description>A social network only for funny, motivating or knowledge based citates. Users shall be able to create and join groups, filter for tags etc.</description>
    <author email="gabrielgeyrhofer@gmail.com" href="www.glaucus.at">
        Gabriel Geyrhofer
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
    <splash src="./res/splash/LogoWithoutText.png" />
    <splash src="res/splash/Logopng.png" />
    </platform>
</widget>
