/* Setting up prerequisites */
@font-face {
  font-family: "Cinzel";
  src: url("../assets/fonts/Cinzel-VariableFont_wght.ttf");
}
:root {
  --mainTitle-font-size: 2rem;
  --background-color: RGB(30, 34, 39);
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: RGB(30, 34, 39);
  font-family: "Cinzel", serif;
  color: darkgray;
}

/*Default styles*/

h1 {
  font-family: "Cinzel", serif;
  color: gray;
}
h2 {
  font-family: "Cinzel", serif;
  color: darkgray;
}

.button {
  font-family: "Cinzel", serif;
  color: darkgray;
  margin: 1em;
  border-radius: 5px;
  border: solid gray;
  height: 3em;
  width: 8em;
  background-color: var(--background-color);
  transition: 0.5s;
}
.button:active {
  transform: scale(0.8);
}

.input {
  font-family: "Cinzel", serif;
  color: darkgray;
  text-align: center;
  margin: 1em;
  border-radius: 5px;
  border: solid gray;
  height: 3em;
  width: 16em;
  background-color: var(--background-color);
}

.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--background-color);
  border: solid gray;
  border-radius: 5px;
  padding: 1em;
}

.menuBar {
  display: flex;
  justify-content: space-between;
  /* background-color: RGB(30, 34, 39); */
  padding: 0.5em;
  border-top: solid gray;
  position: fixed;
  bottom: 0;
  width: calc(100% - 1em);
}

.post {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
}

.mainPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: solid gray;
  border-radius: 5px;
  background-color: var(--background-color);
  width: 20em;
  height: 18em;
}

#infoDIV {
  visibility: hidden;
  width: 100%;
  align-items: center;
  text-align: center;
  color: red;
  border: solid red;
  margin-bottom: 0px;
}

.subPost {
  color: solid darkgray;
  margin-top: 0.5em;
  border-bottom: solid gray;
}

/*Rather specific classes*/

.titleDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.contentDiv {
  width: 98vw;
  margin-left: 1vw;
  margin-right: 1vw;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top: solid gray;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ID Styling */

#user {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}

#home {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}

#search {
  color: darkgray;
  border: solid white;
  border-radius: 5px;
  padding: 0.5em;
}

#loginTitle {
  margin-top: 2em;
  margin-bottom: 2em;
}

#defaultUserPopUp {
  bottom: 3em;
  right: 3em;
  display: none;
  border-radius: 5px 5px 0px 5px !important;
}
